.section {
    padding: 18px 23px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.section:first-child p:nth-child(2){
    margin: 10px 0px;
}

.section:last-child {
    border-bottom-style: none;
}

.section span {
    margin-left: 10px;
}

.section p {
    font-size: 13px;
    line-height: 20px;
}

.detailTitle {
    font-size: 18px !important;
    font-weight: bold;
}

.sectionTitle {
    color: #333;
}

.sectionDesc {
    color: #666;
}