.section {
    padding: 24px 23px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.section:first-child p:nth-child(2){
    margin: 10px 0px;
}

.section:last-of-type {
    border-bottom-style: none;
}

.section span {
    margin-left: 10px;
}

.section p {
    font-size: 13px;
    line-height: 20px;
}

.detailTitle {
    font-size: 18px !important;
    font-weight: bold;
}

.sectionTitle {
    color: #333;
}

.sectionDesc {
    color: #666;
}

.button {
    color: white;
    font-size: 20px;
    background: url('../../assets/images/button.png') 0px 0px no-repeat;
    background-size: cover;
    width: 266px;
    margin: 0 auto;
    /* padding: 0px 70px; */
    text-align: center;
    height: 55px;
    line-height: 55px;
}