.receiveHead {
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.receiveHead p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.receiveDesc {
    margin: 0px;
    padding: 25px 40px 120px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.receiveDesc p {
    font-size: 12px;
    line-height: 1.8em;
}

.receiveDesc p:last-child {
    color: rgba(0, 0, 0, 0.7);
}

.receiveFooter {
    text-align: center;
    font-size: 13px;
    padding: 25px 0px;
}

.button {
    color: white;
    font-size: 20px;
    background: url('../../assets/images/button.png') 0px 0px no-repeat;
    background-size: cover;
    width: 266px;
    margin: 0 auto;
    padding: 0px 70px;
    text-align: center;
    height: 55px;
    line-height: 55px;
}