.button {
    background: url('../../assets/images/button.png') 0px 0px no-repeat;
    background-size: cover;
    width: 266px;
    display: inline-block;
    margin: 0 auto;
    padding: 0px 70px;
    text-align: center;
    height: 55px;
}

.button span {
    line-height: 55px;
    margin-left: 13px;
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}